body {
    background-color: #f4f5f5;
}
p {
    margin-left: 5px;
}
ul {
    padding: 0;
    margin: 0;
}
section {
    width: 390px;
    padding: 5px 0;
}
li {
    background-color: green;
	border: 1px solid black;
    display: block;
    float: left;
    height: 50px;
    text-decoration: none;
    width: 50px;
}
li span {
    display: block;
    /*background-color: #FFFFFF;*/
    width: 40px;
    height: 40px;
    margin: 5px;
    /*border-radius: 20px;*/
}
li.mole span {
    /*background-color: brown;*/
	background-image:url(images/game/mole.png); 
}