body {
  background-color: #336633; /**/

}

#launcher{
	border:1px solid gold;
	background-image:url(images/game/maintitle.png);
	width:260px;
	height:154px;/*total:403px;*/
	padding-top:249px;
	margin:auto;
	margin-top:30px;
}

.mybutton{
	background-color:#bf7d11;
	margin:auto;
	width:80px;
	color:gold;
	text-align:center;
	font-weight:bold;
	border-radius:10% 10% 10% 10%;
	border:1px solid gold;
	cursor:pointer;
}

.mybutton:hover{
	background-color:gold;
	color:red;
}

#start{
	height:24px;
	padding-top:4px;
	font-size:20px;
}

#scoreboard{
	height:24px;
	padding-top:4px;
	font-size:16px;
}

#instruction{
	height:20px;
	padding-top:8px;
	font-size:10px;
}

ul {
    padding: 0;
    margin: 0;
	/* section width must be the same */
	width:260px;
	height:312px;
	border:1px solid gold;
}
section {
    width: auto;
}

#grid{
	width:262px;
	height:300px;
	margin:auto;
	margin-top:30px;
}

#scoreBackground{
    width: 262px;
	background-color:#bf7d11;
}

.scoreShow{
	text-align:center;
	color:gold;
	font-weight:bold;
	font-size:14px;
	border-right: 1px solid gold;
	border-left: 1px solid gold;
	border-bottom: 1px solid gold;
	height:90px;
}

li {
	background-image:url(images/game/grass.png);
	border: 1px solid #339933;
    display: block;
    float: left;
    height: 50px;
    text-decoration: none;
    width: 50px;
}
li span {
    display: block;
    width: 41px;
    height: 41px;
    margin: 5px;
	background-image:url(images/game/mole.png);
	background-position:0% 2000%;
	background-repeat:no-repeat;
}

li.mole span {
	background-position:0% 100%; 
}

li.bonusmole span {
	background-image:url(images/game/bonusmole.png);
	background-position:0% 100%;

}

li.malusmole span {
	background-image:url(images/game/malusmole.png);
	background-position:0% 100%;

}

li.deadmole span {
	background-image:url(images/game/deadmole.png);
	background-position:0% 100%;

}

#pause{
	margin-top:5px;
	margin-bottom:5px;
}

p {
	color:black;
	width:260px;
	height:auto;
	border:1px solid black;
	text-align: center;
}

#scoreBoardArt{
	border:1px solid gold;
	background-image:url(images/game/score.png);
	width:260px;
	height:303px;/*total:403px;*/
	padding-top:100px;
	margin:auto;
	margin-top:30px;
}

.scoreTab{
	border:none;
	color:#322004;
	font-weight:bold;
	font-size:16px;
}

#instructionScreen{
	border:1px solid gold;
	background-image:url(images/game/score.png);
	width:260px;
	height:323px;/*total:403px;*/
	padding-top:80px;
	margin:auto;
	margin-top:30px;
}

.rules{
	border:none;
	color:#322004;
	font-weight:bold;
	font-size:13px;
}
#scoreTitle{
	text-decoration:underline;
	font-size:20px;
}

#back{
	height:18px;
	font-size:14px;
}

#gameEnd{
	border:1px solid gold;
	background-image:url(images/game/score.png);
	width:260px;
	height:303px;/*total:403px;*/
	padding-top:100px;
	margin:auto;
	margin-top:30px;
}

#back2{
	height:24px;
	padding-top:4px;
	font-size:20px;
}