body {
    background-color: #DE9537;
}
ul {
    padding: 0;
    margin: 0;
	/* section width must be the same */
	width:260px;
	height:312px;
	border:1px solid #c24700;
}
section {
    width: auto;
    padding: 5px 0;
}
li {
	background-image:url(images/game/grass.png);
	border: 1px solid #00db00;
    display: block;
    float: left;
    height: 50px;
    text-decoration: none;
    width: 50px;
}
li span {
    display: block;
    background-color: #c24700;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 40px;
}
li.mole span {
    /*background-color: brown;*/
	background-image:url(images/game/mole.png); 
}

li.bonusmole span {
    /*background-color: brown;*/
	background-image:url(images/game/bonusmole.png);
}

li.malusmole span {
    /*background-color: brown;*/
	background-image:url(images/game/malusmole.png);
}

p {
    /*margin-left: 5px;*/
	width:260px;
	height:auto;
	border:1px solid black;
	text-align: center;
}